@font-face {
	font-family: "PacificaCondensedRegular";
	src: url("../fonts/PacificaCondensedRegular.ttf") format("truetype");
}

#main-nav a, h1, h2, h3, h4, h5, h6 {
	font-family: "PacificaCondensedRegular";
}