@font-face {
  font-family: 'Calibri Bold';
  src: url("../fonts/Calibri Bold.ttf")
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri Regular.ttf")
}

@font-face {
  font-family: 'nirmalas';
  src: url("../fonts/nirmalas.ttf")
}

body {
    font-family: 'nirmalas', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Calibri Bold', sans-serif;
}

.survey {
  	h2 {
      font-size: 1.2em;
      text-align: left;
    }
}

.logo {
  margin: 0;
  img {    
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
}
