body {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;	
}

section.home h1 {	
	font-size: 4.2em;
	text-transform: initial;
}

h1.main-title  {
   font-family: GreatVibes-Regular;    
   font-size: 1.8em;
   text-transform: unset;
}

h1 {	
	text-transform: uppercase;
	font-size: 4em;
	letter-spacing: 8px;
}

h2, h3, h4 {
	letter-spacing: 2px;
}
